@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Shadows+Into+Light&display=swap');

.add-recipe-button {
    font-size: 15px;
    margin: 2vh;
    padding: 10px;
    text-transform: uppercase;
}

.searchbar {
    width: 80%;
}


.overlay {
    text-align: center;
    margin: 1vh 0;
}