<div class="overlay">
  <button
    mat-raised-button
    color="accent"
    class="add-recipe-button"
    (click)="goTo('/add-recipe')"
  >
    Add Recipe
  </button>
  <form [formGroup]="searchForm">
    <mat-form-field class="searchbar">
      <input
        matInput
        type="text"
        (keyup)="search($event)"
        formControlName="searchTerm"
        placeholder="Search..."
      />
    </mat-form-field>
    <div class="searchForm" formGroupName="checkboxes">
      <mat-checkbox
        *ngFor="let category of categories"
        [formControlName]="category.id"
        >{{ category.name }}</mat-checkbox
      >
    </div>
  </form>
</div>
<app-recipes-list [recipesToShow]="recipes"></app-recipes-list>
