<div class="overlay">
  <button
    mat-raised-button
    color="accent"
    class="add-recipe-button"
    (click)="goTo('/add-recipe')"
  >
    Add Recipe
  </button>
  <form [formGroup]="searchForm">
    <mat-form-field class="searchbar">
      <input
        matInput
        type="text"
        (keyup)="search($event)"
        formControlName="searchTerm"
        placeholder="Search..."
      />
    </mat-form-field>
    <div class="searchForm">
      <span *ngFor="let category of categories">
        <mat-checkbox [formControlName]="category.id.toString()">{{
          category.name
        }}</mat-checkbox>
      </span>
    </div>
  </form>
</div>
<app-recipes-list [recipesToShow]="filteredRecipes"></app-recipes-list>
