<div class="overlay">
  <button
    mat-raised-button
    color="accent"
    class="add-recipe-button"
    (click)="goTo('/add-recipe')"
  >
    Add Recipe
  </button>
  <form [formGroup]="searchForm" class="search-form-container">
    <mat-form-field class="searchbar">
      <input
        matInput
        type="text"
        (keyup)="search($event)"
        formControlName="searchTerm"
        placeholder="Type to search by name..."
      />
    </mat-form-field>

    <mat-form-field class="categories-dropdown">
      <mat-label>Select Categories</mat-label>
      <mat-select [formControlName]="'selectedCategories'" multiple>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      class="search-button"
      (click)="applyCategories()"
    >
      Apply Categories
    </button>
  </form>
  <div class="sort-by-container">
    <span class="sort-by-text">SORT BY:</span>
    <button
      class="sort-button"
      [class.highlighted]="sortBy === 'date'"
      (click)="onSortChange('date')"
    >
      <mat-icon class="button-icon">calendar_today</mat-icon> DATE
    </button>
    <button
      class="sort-button"
      [class.highlighted]="sortBy === 'name'"
      (click)="onSortChange('name')"
    >
      <mat-icon class="button-icon">sort_by_alpha</mat-icon> NAME
    </button>
  </div>
  <div class="sort-order-container">
    <button class="sort-button" (click)="toggleSortOrder()">
      <mat-icon class="button-icon">{{
        sortOrder === 'ASC' ? 'arrow_upward' : 'arrow_downward'
      }}</mat-icon>
      {{ sortOrder === 'ASC' ? 'ASC' : 'DESC' }}
    </button>
  </div>
</div>
<app-recipes-list [recipesToShow]="recipes"></app-recipes-list>
