.overlay {
  padding: 5vh;
  display: flex;
}

.arrow-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 40px;
}

.recipe-name {
  width: 50vh;
}

.categories-container {
  display: flex;
  align-items: center;
  .categories-text,
  .categories-arrow-icon {
    margin: 0 0 2vh 2vh;
    color: rgba(255, 255, 255, 0.7);
  }
  .new-cat-input {
    margin-left: 2vh;
  }
}

.ingredients-container {
  display: flex;
  align-items: center;
  .new-ingr-input {
    margin-right: 2vh;
  }

  .counter-buttons {
    position: relative;
    bottom: 1.5vh;
    .icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
  }
}

.text {
  font-size: 18px;
}

.servings-container {
  margin-bottom: 2vh;
  .servings-number {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 5px 10px;
  }
}

.counter-buttons {
  padding: 0;
  .icon {
    color: #ffffff;
    margin: 0;
  }
}

.recipe-preparation {
  overflow: hidden;
  width: 100vh;
}
