.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vh;
}

.recipe-name {
    width: 50vh;
}

.category-buttons {
    margin-bottom: 2vh;
}

.recipe-preparation {
    overflow: hidden;
    width: 100vh;
}


button {
    margin: 5vh 0;
}