<mat-grid-list
  cols="3"
  rowHeight="150"
  *ngIf="recipesToShow.length > 0; else noResults"
>
  <mat-grid-tile *ngFor="let recipe of recipesToShow">
    <mat-card class="recipe-card">
      <mat-card-header class="content">
        <mat-card-title
          class="title"
          id="title"
          *ngIf="recipe.name.length <= getNumberOfCharacters()"
          >{{ recipe.name }}</mat-card-title
        >
        <mat-card-title
          class="title"
          id="title"
          *ngIf="recipe.name.length > getNumberOfCharacters()"
          >{{
            recipe.name.substring(0, getNumberOfCharacters())
          }}...</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <span class="date-added-text">
          Added on {{ formatDate(recipe.date.toString()) }}
        </span>
      </mat-card-content>
      <mat-card-actions class="button-container">
        <button
          mat-raised-button
          color="accent"
          class="button"
          (click)="openRecipe(recipe.id)"
        >
          OPEN RECIPE <mat-icon class="icon">open_in_new</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #noResults>
  <div class="no-results">No Results.</div>
</ng-template>
