.recipe-tile {
    margin: 20px;
    padding: 10px;
}

.title {
    font-size: 22px;
}

.subtitle {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
}

.mat-expansion-panel-header-title {
    font-size: 28px;
}

.mat-expansion-panel {
    background-color: #f2bcf8;
}

.icon {
    margin: 0 6px 0 0;
}

/* these icons have some offset, so they need additional margin */
.subtitle-icon {
    margin: 0 6px -3px 0;

}

.content {
    font-size: 16px;
    text-align: start;
}

.left-align {
    position: absolute;
    left: 0;
}

.expansion-panels {
    text-align: center;
    margin: auto;
    width: 80%;
}