.recipe-panel {
    padding: 20px;
    background-color: #f2bcf8;
    width: 100%;
    margin: 0 10px;
}

.mat-grid-tile-content {
    display: block !important;
}

.panels {
    text-align: center;
    margin: auto;
    width: 80%;
}

button {
    right: 20px;
    position: absolute;
}

.title {
    font-size: 22px;
    color: #000;
}

.subtitle {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
}


.icon {
    margin: 0 6px 0 0;
}

/* these icons have some offset, so they need additional margin */
.subtitle-icon {
    margin: 0 6px -3px 0;

}

.content {
    font-size: 16px;
    text-align: start;
    padding: 0;
}

.left-align {
    position: absolute;
    left: 0;
}