@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

.topnav {
    background-color: #fff;
    font-family: 'Fira Mono', monospace;
    font-size: 50px !important;
}
