/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 20px 0;
  background: linear-gradient(to right, #e25b87, #e2725b, #5b88e2);
  color: #fff;
  font-family: 'Noto Sans Mono', monospace;
}

.custom-apply-button {
  flex-shrink: 0;
  padding: 15px;
  font-size: 16px;
}
