.overlay {
  margin: 5vh;
  padding: 2vh;
  display: flex;
}

span {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.recipe-display-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 50vh;
}

.recipe-image {
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.recipe-display-container {
  font-size: 18px;
  flex: none;
  .recipe-name {
    font-weight: 600;
  }
  .row {
    margin: 2vh 0;
    .subtitle {
      font-weight: 600;
      font-size: 20px;
    }
    .preparation-text {
      white-space: pre-line;
      line-height: 1.5;
    }
    ul {
      margin: 0;
    }
  }
}
