<div class="overlay">
  <div class="recipe-display-wrapper">
    <div class="recipe-display-container">
      <h1 class="recipe-name">{{ recipe.name }}</h1>

      <div class="row">
        <span class="subtitle">Category: </span>
        <span>{{ recipe.category.name }}</span>
      </div>

      <div class="row">
        <span class="subtitle">Servings: </span>
        <span>{{ recipe.servings }}</span>
      </div>

      <div class="row">
        <span class="subtitle">Ingredients:</span>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.quantity }} {{ ingredient.name }}
          </li>
        </ul>
      </div>

      <div class="row">
        <span class="subtitle">Preparation:</span>
        <p class="preparation-text">
          {{ recipe.preparationInstruction }}
        </p>
      </div>
    </div>
    <img
      src="../../../assets/icon.ico"
      alt="Recipe Image"
      class="recipe-image"
    />
  </div>
</div>
